<div class="container-fluid">
 <!-- Second navbar for search -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{% url 'homepage' %}">Python Learning</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="navbar-collapse-3">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/about/">About</a></li>
         <li><a href="{% url 'contact_page' %}">Contact</a></li>
         <li><a href="/resource/">Resource</a></li>
         <li><a href="{% url 'sitemap_page' %}">Sitemap</a></li>
         <li><a href="{% url 'trending_posts_page' %}">Trending</a></li>
         <li>
           <a class="btn btn-default btn-outline btn-circle collapsed cst__btn__search__outline"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
         </li>
       </ul>
       <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
         <form method="get" action="{% url 'search_posts_page' %}" class="navbar-form navbar-right" role="search">
           <div class="form-group">
             {% csrf_token %}
             <input type="text" name="q" maxlength="140" class="form-control cst__radius" placeholder="Search" required/>
           </div>
           <button type="submit" class="btn btn-danger cst__radius"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         </form>
       </div>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container -->
 </nav><!-- /.navbar -->
</div><!-- /.fluid -->
