{% extends "base.html" %}
{% block title %}About - {{ block.super }} {% endblock %}
{% block canonical_url %}{{ block.super }}/about/{% endblock %}

{% block blog_entries %}
  <div class="post">
    <h2>About</h2>
    <p>
Python Learning - Sengaja dibuat untuk memperluas jaringan pengetahuan tentang bahasa permograman Python. dengan demikian akan mempermudah para programmer untuk mendapatkan knowlage. Terdapat juga mengenai masalah kuliah yang berhubungan dengan Python Programming.
 </p>
<h2>Sejarah</h2>
<p>
Python Learning - Telah publish sejak awal tahun 2014 oleh salah satu mahasiswa UMS di Surakarta (Solo) Indonesia yang bernama Agus Makmun atau yang akrab dipanggil <i>"Summon Agus"</i>. Pada mulanya, website Python Learning adalah website yang berbasis “asking a question” (tanya jawab). namun karena suatu hal dan lumayan lama tidak terurus, sehingga Python Learning kembali publish dengan nuansa yang berbeda.
    </p>
<h2>Redesign</h2>
<p>
Python Learning - Telah Redesign sebanyak 2 kali, redesign pertama menggunakan cms <code>Wordpress</code>. Alhamdulillah kali ini telah sesuai dengan cita-cita pendiri yang dari dahulu ingin menggunakan <code>Django</code> sebagai framework-nya. Agar sesuai dengan tema yang diangkat, yaitu mengenai Belajar Python Programming.
</p>
<h2>Special Thanks</h2>
<p>
Kami disini tidak sendiri, dan situs ini tidaklah 100% dibuild secara pribadi. Kami mengucapkan banyak terimakasih kepada pihak-pihak yang telah membantu sehingga situs ini dapat dibuat menjadi sejauh ini.

<ul>
<li>Pengembangan dari: <a href="https://github.com/arocks/qblog" target="_blank">https://github.com/arocks/qblog</a></li>
</ul>

<h4>Problem Solved</h4>
<ul>
<li>Sutrisno Efendi</li>
<li>Bos Dadang</li>
<li>Dan seluruh pihak yang tidak dapat saya sebutkan satu-persatu.</li>
</ul>

<h4>Hosting Django</h4>
<ul>
<li>Muhammad Saleh Hafizh Fajri - https://www.helloworldhost.com</li>
<li>SSL Sertifitation: Comodo RSA</li>
</ul>
</p>
  </div>
{% endblock %}

{% block widget_sidebar %}
{% endblock %}