{% extends "base.html" %}
{% block title %}Sitemap - {{ block.super }} {% endblock %}
{% block canonical_url %}{{ block.super }}/sitemap/{% endblock %}

{% block blog_entries %}
<style type="text/css">
  .sitemap ul li {
    background: #FAFAFA;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #fff;
    padding: 2px;
    padding-left: 5px;
    list-style: decimal;
  }
  .sitemap ul li:nth-child(odd) {
    background: #FFF;
  }
</style>
  <div class="post sitemap">
    <h2>Sitemap</h2>
    {% if all_entry %}
    <ul>
      {% for object in all_entry %}
      	<li><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a> - <i>{{ object.created }}</i></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

<ul class="pagination">
  <li {% if not all_entry.has_previous %}class="disabled"{% endif %}>
     <a {% if all_entry.has_previous %}href="?page={{ all_entry.previous_page_number }}" aria-label="Previous" {% endif %}><span aria-hidden="true">&laquo;</span></a>
   </li>
   <li><a href="?page=1">First</a></li>
  {% for linkpage in page_range %}
      {% ifequal linkpage all_entry.number %}
         <li class="active">
           <a href="#">{{ all_entry.number }}<span class="sr-only">(current)</span></a>
         </li>
      {% else %}
         <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
      {% endifequal %}
  {% endfor %}
  <li><a href="?page={{ all_entry.paginator.num_pages }}">Last</a></li>
  <li {% if not all_entry.has_next %}class="disabled"{% endif %}>
     <a {% if all_entry.has_next %}href="?page={{ all_entry.next_page_number }}" aria-label="Next" {% endif %}><span aria-hidden="true">&raquo;</span></a>
   </li>
</ul>
{% endblock %}

{% block widget_sidebar %}
{% endblock %}