{% extends "base.html" %}
{% block title %}Contact - {{ block.super }} {% endblock %}
{% block canonical_url %}{{ block.super }}/contact/{% endblock %}
{% block blog_entries %}
  <div class="post">
    <h2>Contact</h2>
    <p><center><span style="color: #f00">*) Please type again your email on body message.</span></center></p>
      <form id="my_form" method="post">
	    {% csrf_token %}
	    {{ form }}
	    <div class="form-actions">
	      <button type="submit">Send</button>
	    </div>
	</form>
  </div>
{% endblock %}

{% block widget_sidebar %}
{% endblock %}
