{% extends "base.html" %}
{% load django_markdown %}

{% block blog_entries %}
{% for object in object_list %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
      <!-- <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> --> Date Created: {{ object.created }} - 
      <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> --> 
      By: <a href="/author/{{ object.author.pk }}">{{ object.author }}</a> - 
      <!--<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> -->
      Tagged under: 
      {% for my_tags in object.tags.all %}
        <a href="/tag/{{ my_tags }}">{{ my_tags }}</a>,
      {% endfor %}
    </p>
    {{ object.body|markdown|safe|truncatewords:"20"|linebreaks }}
    <span style="float:right"><a href="{% url "entry_detail" slug=object.slug %}">Read More &rarr;</a></span>
    <div style="clear:both;border-bottom: 1px solid #F2F2F2;margin: 10px 0"></div>
    <!-- http://stackoverflow.com/a/12775861/3445802 -->
  </div>
{% endfor %}
{% endblock %}
