{% extends "base.html" %}
{% block title %}Resource - {{ block.super }} {% endblock %}
{% block canonical_url %}{{ block.super }}/resource/{% endblock %}

{% block blog_entries %}
  <div class="post">
    <h2>Resource</h2>
<div class="entry-content">
<style>
.entry-content a:hover {text-decoration: underline}
</style>
<p><b>[IDE/EDITOR PYTHON]</b><br>
– <a href="http://wiki.python.org/moin/IntegratedDevelopmentEnvironments/" target="_blank">http://wiki.python.org/moin/IntegratedDevelopmentEnvironments/</a><br>
– <a href="http://ninja-ide.org/" target="_blank">http://ninja-ide.org</a></p>
<p><b>[DOWNLOAD Python]</b><br>
– <a href="http://www.python.org/download/" target="_blank">http://www.python.org/download/</a></p>
<p><b>[DOWNLOAD Python (for scientific purpose in windows)]</b><br>
– <a href="https://www.enthought.com/store/" target="_blank">https://www.enthought.com/store/</a> (Pilih yang “express” kalau mau yang gratis).</p>
<p><b>[TUTORIAL/E-Book]</b><br>
–&nbsp;<a href="http://pymotw.com/2/contents.html" target="_blank">http://pymotw.com/2/contents.html</a><br>
–&nbsp;<a href="http://freepythontips.wordpress.com/" target="_blank">http://freepythontips.wordpress.com</a><br>
–&nbsp;<a href="http://docs.python.org/tutorial/" target="_blank">http://docs.python.org/tutorial/</a><br>
–&nbsp;<a href="http://www.tutorialspoint.com/" target="_blank">http://www.tutorialspoint.com/</a><br>
–&nbsp;<a href="http://www.siafoo.net/" target="_blank">http://www.siafoo.net/</a><br>
–&nbsp;<a href="http://learnpythonthehardway.org/book/" target="_blank">http://learnpythonthehardway.org/book/</a><br>
–&nbsp;<a href="http://www.python.or.id/search/label/tutorial" target="_blank">http://www.python.or.id/search/label/tutorial</a><br>
–&nbsp;<a href="http://voidlabs-training.appspot.com/" target="_blank">http://voidlabs-training.appspot.com/</a><br>
–&nbsp;<a href="http://openbookproject.net/thinkcs/python2e.php" target="_blank">http://openbookproject.net/thinkcs/python2e.php</a><br>
–&nbsp;<a href="http://docs.python.org/tutorial/" target="_blank">http://docs.python.org/tutorial/</a><br>
–&nbsp;<a href="http://www.sthurlow.com/python/" target="_blank">http://www.sthurlow.com/python/</a><br>
–&nbsp;<a href="http://www.paradigma.com.br/Plone/tutorialPython.pdf" target="_blank">http://www.paradigma.com.br/Plone/tutorialPython.pdf</a><br>
–&nbsp;<a href="http://www.tutorialspoint.com/python/" target="_blank">http://www.tutorialspoint.com/python/</a><br>
–&nbsp;<a href="http://www.master.web.id/mwmag/issue/03/content/tutorial-python-2/tutorial-python-2.html" target="_blank">http://www.master.web.id/mwmag/issue/03/content/tutorial-python-2/tutorial-python-2.html</a><br>
–&nbsp;<a href="http://www.korokithakis.net/tutorials/python" target="_blank">http://www.korokithakis.net/tutorials/python</a><br>
–&nbsp;<a href="http://klinikpython.wordpress.com/" target="_blank">http://klinikpython.wordpress.com/</a><br>
–&nbsp;<a href="http://www.jetbrains.com/pycharm/" target="_blank">http://www.jetbrains.com/pycharm/</a><br>
–&nbsp;<a href="http://www.wingware.com/" target="_blank">http://www.wingware.com/</a><br>
–&nbsp;<a href="http://getpython3.com/diveintopython3/" target="_blank">http://getpython3.com/diveintopython3/</a><br>
–&nbsp;<a href="http://files.swaroopch.com/python/byte_of_python.pdf" target="_blank">http://files.swaroopch.com/python/byte_of_python.pdf</a><br>
–&nbsp;<a href="http://www.greenteapress.com/thinkpython/thinkpython.pdf" target="_blank">http://www.greenteapress.com/thinkpython/thinkpython.pdf</a><br>
–&nbsp;<a href="http://wiki.python.org/moin/Python2orPython3" target="_blank">http://wiki.python.org/moin/Python2orPython3</a><br>
–&nbsp;<a href="http://wiki.python.org/moin/WebFrameworks" target="_blank">http://wiki.python.org/moin/WebFrameworks</a><br>
–&nbsp;<a href="http://wiki.python.org/moin/GuiProgramming" target="_blank">http://wiki.python.org/moin/GuiProgramming</a><br>
–&nbsp;<a href="http://slav0nic.org.ua/static/books/python/update" target="_blank">http://slav0nic.org.ua/static/books/python/update</a><br>
–&nbsp;<a href="http://emeraldbox.emfeld.com/" target="_blank">http://emeraldbox.emfeld.com/</a><br>
–&nbsp;<a href="http://rab.co.id/files/python/bukupython2.pdf.gz" target="_blank">http://rab.co.id/files/python/bukupython2.pdf.gz</a><br>
–&nbsp;<a href="http://www.codecademy.com/" target="_blank">http://www.codecademy.com</a><br>
–&nbsp;<a href="http://vilvaram.com/python.html" target="_blank">http://vilvaram.com/python.html</a><br>
–&nbsp;<a href="http://pythonmakassar.appspot.com/artutor/" target="_blank">http://pythonmakassar.appspot.com/artutor/</a><br>
–&nbsp;<a href="http://www.linuxtopia.org/online_books/programming_books/python_programming/index.html" target="_blank">http://www.linuxtopia.org/online_books/programming_books/python_programming/index.html</a><br>
–&nbsp;<a href="http://www.openbookproject.net/thinkcs/python/english2e/" target="_blank">http://www.openbookproject.net/thinkcs/python/english2e/</a><br>
–&nbsp;<a href="http://tomayko.com/writings/python-inner-classes" target="_blank">http://tomayko.com/writings/python-inner-classes</a><br>
–&nbsp;<a href="http://python-history.blogspot.com/2010/06/method-resolution-order.html" target="_blank">http://python-history.blogspot.com/2010/06/method-resolution-order.html</a><br>
–&nbsp;<a href="http://pythonbooks.revolunet.com/" target="_blank">http://pythonbooks.revolunet.com/</a><br>
–&nbsp;<a href="http://id.pdfsb.com/search/?q=python&amp;lng=id&amp;pgs=10" target="_blank">http://id.pdfsb.com/search/?q=python&amp;lng=id&amp;pgs=10</a><br>
–&nbsp;<a href="http://gluek.info/files/books/programming/python/" target="_blank">http://gluek.info/files/books/programming/python/</a><br>
–&nbsp;<a href="http://mirror.lzu.edu.cn/docs/ebooks/linux-unix/Programming/Python/" target="_blank">http://mirror.lzu.edu.cn/docs/ebooks/linux-unix/Programming/Python/</a><br>
–&nbsp;<a href="http://slav0nic.org.ua/static/books/python/" target="_blank">http://slav0nic.org.ua/static/books/python/</a><br>
–&nbsp;<a href="http://rafale.org/~mattoufoutu/ebooks/Doc_diverse/Cours%20Prog/Python/" target="_blank">http://rafale.org/~mattoufoutu/ebooks/Doc_diverse/Cours%20Prog/Python/</a><br>
–&nbsp;<a href="http://pythonmonk.com/%20" target="_blank">http://pythonmonk.com/ </a><br>
–&nbsp;<a href="http://www.leettips.org/2013/02/top-10-free-python-pdf-ebooks-download.html" target="_blank">http://www.leettips.org/2013/02/top-10-free-python-pdf-ebooks-download.html</a><br>
–&nbsp;<a href="http://www.ittelkom.ac.id/staf/kms/TOT%20Phython/" target="_blank">http://www.ittelkom.ac.id/staf/kms/TOT%20Phython/</a><br>
–&nbsp;<a href="http://pythondahsyat.blogspot.com/" target="_blank">http://pythondahsyat.blogspot.com/</a><br>
–&nbsp;<a href="http://ilmukomputer.org/category/pemrograman-python/" target="_blank">http://ilmukomputer.org/category/pemrograman-python/</a><br>
–&nbsp;<a href="http://www.poss-upi.org/download/" target="_blank">http://www.poss-upi.org/download/</a></p>
<p><b>[DJANGO TUTORIAL]</b><br>
–&nbsp;<a href="http://lightbird.net/dbe/" target="_blank">http://lightbird.net/dbe/</a><br>
–&nbsp;<a href="http://brandonkonkle.com/blog/categories/django/">http://brandonkonkle.com/blog/categories/django/</a><br>
–&nbsp;<a href="http://www.dajaxproject.com/" target="_blank">http://www.dajaxproject.com/</a><br>
–&nbsp;<a href="http://www.pythonforbeginners.com/" target="_blank">http://www.pythonforbeginners.com/</a><br>
–&nbsp;<a href="http://balitechy.com/category/django/" target="_blank">http://balitechy.com/category/django/</a><br>
–&nbsp;<a href="http://book.huihoo.com/django/en/1.0/" target="_blank">http://book.huihoo.com/django/en/1.0/</a><br>
–&nbsp;<a href="http://www.djangobooks.com/" target="_blank">http://www.djangobooks.com/</a><br>
–&nbsp;<a href="https://docs.djangoproject.com/en/1.5/" target="_blank">https://docs.djangoproject.com/en/1.5/</a><br>
–&nbsp;<a href="https://readthedocs.org/" target="_blank">https://readthedocs.org/</a><br>
–&nbsp;<a href="http://www.tdd-django-tutorial.com/" target="_blank">http://www.tdd-django-tutorial.com/</a></p>
<p><b>[Lib python]</b><br>
–&nbsp;<a href="http://www.doughellmann.com/genindex.html" target="_blank">http://www.doughellmann.com/genindex.html</a><br>
–&nbsp;<a href="http://www.rfidiot.org/" target="_blank">http://www.rfidiot.org</a><br>
–&nbsp;<a href="https://github.com/AdamLaurie/RFIDIOt" target="_blank">https://github.com/AdamLaurie/RFIDIOt</a><br>
–&nbsp;<a href="http://zetcode.com/gui/tkinter/" target="_blank">http://zetcode.com/gui/tkinter/</a><br>
–&nbsp;<a href="https://code.google.com/p/pybluez/" target="_blank">https://code.google.com/p/pybluez/</a><br>
–&nbsp;<a href="http://lightblue.sourceforge.net/" target="_blank">http://lightblue.sourceforge.net/</a><br>
–&nbsp;<a href="http://www.devshed.com/c/a/Python/Bluetooth-Programming-using-Python/" target="_blank">http://www.devshed.com/c/a/Python/Bluetooth-Programming-using-Python/</a><br>
–&nbsp;<a href="http://dangerousprototypes.com/2012/10/19/python-module-for-transmitting-and-receiving-infrared-signals-from-an-ir-toy/" target="_blank">http://dangerousprototypes.com/2012/10/19/python-module-for-transmitting-and-receiving-infrared-signals-from-an-ir-toy/</a><br>
–&nbsp;<a href="https://github.com/jsawruk/pymirhttp://www.phidgets.com/documentation/web/PythonDoc/Phidgets.Devices.IR.html" target="_blank">https://github.com/jsawruk/pymirhttp://www.phidgets.com/documentation/web/PythonDoc/Phidgets.Devices.IR.html</a><br>
–&nbsp;<a href="http://wammu.eu/docs/manual/python/examples.html" target="_blank">http://wammu.eu/docs/manual/python/examples.html</a><br>
–&nbsp;<a href="http://wammu.eu/python-gammu/" target="_blank">http://wammu.eu/python-gammu/</a></p>
<p><b>[kokoropy tutorial]</b><br>
– <a href="https://github.com/goFrendiAsgard/kokoropy" target="_blank">https://github.com/goFrendiAsgard/kokoropy</a></p>
<p><b>[bottlepy tutorial]</b><br>
–&nbsp;<a href="http://bottlepy.org/docs/dev/" target="_blank">http://bottlepy.org/docs/dev/</a></p>
<p><b>[scientific computing]</b><br>
–&nbsp;<a href="http://www.scientificpython.net/" target="_blank">http://www.scientificpython.net/</a><br>
–&nbsp;<a href="http://www.slideshare.net/goFrendiAsgard/python-for-scientific-computing" target="_blank">http://www.slideshare.net/goFrendiAsgard/python-for-scientific-computing</a><br>
–&nbsp;<a href="http://scipy-lectures.github.io/" target="_blank">http://scipy-lectures.github.io/</a></p>
<p><b>[EmeraldBox]</b><br>
–&nbsp;<a href="https://github.com/femmerling/backyard" target="_blank">https://github.com/femmerling/backyard</a><br>
–&nbsp;<a href="https://github.com/femmerling/EmeraldBox" target="_blank">https://github.com/femmerling/EmeraldBox</a><br>
–&nbsp;<a href="http://emeraldbox.emfeld.com/docs" target="_blank">http://emeraldbox.emfeld.com/docs</a></p>
<p><b>[REGEX-Regular Expression]</b><br>
–&nbsp;<a href="http://www.pyregex.com/" target="_blank">http://www.pyregex.com/</a></p>
<p>Source:&nbsp;<a href="https://www.facebook.com/groups/IndonesianPython/" target="_blank">https://www.facebook.com/groups/IndonesianPython/</a></p>
			</div>
  </div>
{% endblock %}

{% block widget_sidebar %}
{% endblock %}
